body {
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 1em;
  margin: 0px auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  background: whitesmoke;
}
.litur{
  background-color: greenyellow;
  text-align: left;
  padding: 10px;
  width: 13em;
}
.verd{
  background-color: yellow;
}
ul {
  text-align: center;
  }
  
li {
  display: inline-block;
}
.vinstri{
  float: left;
}
.haegri{
  float: right;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
